.header {
    background-color: rgb(37, 40, 44);
    color: white;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

.a {
    color: white;
}

.a:hover {
    color: rgb(194, 51, 26);
    float: right;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(0.9);
}

.body {
    font-family: fantasy;
    background-image: url("../images/classroom.jpg");
    overflow-x: hidden ! important;
    /* Set a specific height */
     height: 500px; 
     width: auto;

     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.titleDiv {
    /* border-radius: 20px; */
    background-color: rgb(194, 51, 26);
    /* margin: 5%; */
    padding: 2%;
    color: white;
    text-align: center;
    font-family: fantasy;
    opacity: 0.9;
}

.infoRow {
    background-color: white;
    opacity: 0.9;
}

.info {
    border-radius: 20px;
    margin: 2%;
    padding: 5%;
    color: rgb(37, 40, 44);
    text-align: center;
}

.agenda {
    color:  white;
    text-align: center;
    padding: 2%;
    background-image: url("../images/light-blue.jpeg");
    background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.card {
    margin: 3%;
    text-align: center;
    color: rgb(37, 40, 44);
}

.costDiv {
    border-radius: 20px;
    background-color: rgb(194, 51, 26);
    margin: 2%;
    padding: 2%;
    color: white;
    text-align: center;
    opacity: 0.9;
}

.questions {
    border-radius: 20px;
    background-color: rgb(194, 51, 26);
    margin: 2%;
    padding: 2%;
    color: white;
    text-align: center;
    opacity: 0.9;
}

.footer {
    background-color: rgb(37, 40, 44);
    color: white;
    padding: 2%;
    font-size: 16px;
    text-align: center;
}